<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Agency Perfect</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="{%static 'https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700'%}" rel="stylesheet">
    <link rel="stylesheet"
          href="{%static 'http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css'%}">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="{%static 'assets/img/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{%static 'assets/img/favicon.png'%}">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link href="{%static 'assets/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'assets/css/style.css'%}" rel="stylesheet">
    <link href="{%static 'assets/css/responsive.css'%}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<h1 class="text-danger text-center"> WELCOME {{request.user}}</h1>
<header id="masthead" class="site-header">
    <nav id="primary-navigation" class="site-navigation">
        <div class="container">

            <div class="navbar-header">

                <a class="site-title"><span>JOB</span>SEARCH</a>

            </div><!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="agency-navbar-collapse">

                <ul class="nav navbar-nav navbar-right">
                    {%if request.user.employers%}
                    <a href="{%url 'emp-detail' %}" class="btn btn-primary">view profile</a>
                    {%else%}
                    <a href="{%url 'emp-profile' %}" class="btn btn-danger">Add profile</a>
                    {%endif%}
                    <a href="{%url 'emp-addjob' %}" class="btn btn-secondary">POST JOB</a>
                    <a href="{%url 'emp-listjob' %}" class="btn btn-info">POSTED JOBS</a>
                    <a href="{%url 'signout'%}" class="btn btn-secondary">LOGOUT</a>


                </ul>


            </div>

        </div>
    </nav><!-- /.site-navigation -->
</header><!-- /#mastheaed -->
<div id="hero" class="hero overlay">
    <div class="hero-content">
        <div class="hero-text">


        </div><!-- /.hero-text -->
    </div>
    - /.hero-content -->
</div><!-- /.hero -->
<div class="container">
        {%block body_block%}
        {%endblock%}
    </div><!-

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-select.min.js"></script>
<script src="assets/js/jquery.slicknav.min.js"></script>
<script src="assets/js/jquery.countTo.min.js"></script>
<script src="assets/js/jquery.shuffle.min.js"></script>
<script src="assets/js/script.js"></script>

<!--<h1 class="text-danger text-center"> WELCOME {{request.user}}</h1>

{%if request.user.employers%}
<a href="{%url 'emp-detail' %}" class="btn btn-primary">view profile</a>
{%else%}
<a href="{%url 'emp-profile' %}" class="btn btn-danger">Add profile</a>
{%endif%}
<a href="{%url 'emp-addjob' %}" class="btn btn-secondary">POST JOB</a>
<a href="{%url 'emp-listjob' %}" class="btn btn-info">POSTED JOBS</a>
<a href="{%url 'signout'%}" class="btn btn-secondary">LOGOUT</a>-->

<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        {% if messages %}
        {%for message in messages%}
        {%if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="bg-primary">
            {{message}}
        </div>
        {%endif%}
        {%endfor%}
        {% endif %}
    </div>
    <div class="col-4"></div>
</div>

</body>
</html>